@using Gestion.Proyecto.Common
@using Gestion.Proyecto.Web.Models.ProyectoDetalle
@model Gestion.Proyecto.Web.Models.ProyectoDetalle.ProyectoDetalleViewModel
@Html.Hidden("UrlDetalleTarjetaLugarEdit", Url.Action("Editar", "DetalleTarjetaLugar"))
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingOne">
            <p class="panel-title" style="font-size:12px">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="icon-th icon-white"></i> Registrar <i class="glyphicon glyphicon-chevron-right"></i> @Gestion.Proyecto.Resource.Title.DetalleTarjetaLugar
                </a>
            </p>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                @using (Html.BeginForm("Nuevo", "DetalleTarjetaLugar", FormMethod.Post, new { @id = "FrmDetalleTarjetaLugarNew", @Style = "margin: 0 0 0px;" }))
                {
                    @Html.HiddenFor(model => model.DetalleTarjetaLugar.IdProyecto, new { @id = "IdProyecto", @Value = @Model.Proyectos.IdProyecto })
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(model => model.DetalleTarjetaLugar.SubRackId, new { @Class = "span3" })
                            <div class="span9">
                                @Html.TextBoxFor(model => model.DetalleTarjetaLugar.SubRackId, new { @id = "SubRackId", })
                                @Html.ValidationMessageFor(model => model.DetalleTarjetaLugar.SubRackId, string.Empty, new { @Class = "error" })
                            </div>
                        </div>
                        <div class="span6">
                            @Html.LabelFor(model => model.DetalleTarjetaLugar.Slot, new { @Class = "span3" })
                            <div class="span9">
                                @Html.TextBoxFor(model => model.DetalleTarjetaLugar.Slot, new { @id = "Slot", })
                                @Html.ValidationMessageFor(model => model.DetalleTarjetaLugar.Slot, string.Empty, new { @Class = "error" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(model => model.DetalleTarjetaLugar.BoardType, new { @Class = "span3" })
                            <div class="span9">
                                @Html.TextBoxFor(model => model.DetalleTarjetaLugar.BoardType, new { @id = "BoardType" })
                                @Html.ValidationMessageFor(model => model.DetalleTarjetaLugar.BoardType, string.Empty, new { @Class = "error" })
                            </div>
                        </div>
                        <div class="span6">
                            @Html.LabelFor(model => model.DetalleTarjetaLugar.BiosVersion, new { @Class = "span3" })
                            <div class="span9">
                                @Html.TextBoxFor(model => model.DetalleTarjetaLugar.BiosVersion, new { @id = "BiosVersion" })
                                @Html.ValidationMessageFor(model => model.DetalleTarjetaLugar.BiosVersion, string.Empty, new { @Class = "error" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(model => model.DetalleTarjetaLugar.SoftVersion, new { @Class = "span3" })
                            <div class="span9">
                                @Html.TextBoxFor(model => model.DetalleTarjetaLugar.SoftVersion, new { @id = "SoftVersion" })
                                @Html.ValidationMessageFor(model => model.DetalleTarjetaLugar.SoftVersion, string.Empty, new { @Class = "error" })
                            </div>
                        </div>
                        <div class="span6">
                            @Html.LabelFor(model => model.DetalleTarjetaLugar.LogicVersion, new { @Class = "span3" })
                            <div class="span9">
                                @Html.TextBoxFor(model => model.DetalleTarjetaLugar.LogicVersion, new { @id = "LogicVersion" })
                                @Html.ValidationMessageFor(model => model.DetalleTarjetaLugar.LogicVersion, string.Empty, new { @Class = "error" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            @Html.LabelFor(model => model.DetalleTarjetaLugar.PCBVersion, new { @Class = "span3" })
                            <div class="span9">
                                @Html.TextBoxFor(model => model.DetalleTarjetaLugar.PCBVersion, new { @id = "PCBVersion" })
                                @Html.ValidationMessageFor(model => model.DetalleTarjetaLugar.PCBVersion, string.Empty, new { @Class = "error" })
                            </div>
                        </div>
                        <div class="span6">
                            @Html.LabelFor(model => model.DetalleTarjetaLugar.SerialNumber, new { @Class = "span3" })
                            <div class="span9">
                                @Html.TextBoxFor(model => model.DetalleTarjetaLugar.SerialNumber, new { @id = "SerialNumber" })
                                @Html.ValidationMessageFor(model => model.DetalleTarjetaLugar.SerialNumber, string.Empty, new { @Class = "error" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <button id="btnDetalleTarjetaLugarRegistrar" type="button" class="btn btn-info" style="float:right; margin-left:1px; margin-right:1px"> Registrar </button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="headingTwo">
            <p class="panel-title" style="font-size:12px">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="icon-th icon-white"></i> Mis Registros
                </a>
            </p>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                @using (Html.BeginForm("ConsultarPartial", "DetalleTarjetaLugar", FormMethod.Post, new { @id = "FrmDetalleTarjetaLugarConsulta", @Style = "margin: 0 0 0px;" }))
                {
                    @Html.HiddenFor(model => model.DetalleTarjetaLugar.IdProyecto, new { @id = "IdProyectoGrid", @Value = @Model.Proyectos.IdProyecto })
                    <div id="ContainerGrid" class="table">
                        @Html.Partial(ProyectoDetalleViewModel.Partial.DetalleTarjetaLugarGrid.Str(), Model)
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='~/ViewScript/ProyectoDetalle/DetalleTarjetaLugar/Nuevo.js'></script>
<script type='text/javascript' src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")'></script>
<script type='text/javascript' src='@Url.Content("~/Scripts/jquery.validate.min.js")'></script>
<script type='text/javascript' src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")'></script>