@model Gestion.Proyecto.Web.Models.Usuario.UsuarioViewModel
@{
    Layout = null;
}
<link rel='stylesheet' type='text/css' href='@Url.Content("~/Content/style/login/login.css")' />
<link rel='stylesheet' type='text/css' href='@Url.Content("~/Content/style/bootstrap.css")' />
<link rel='stylesheet' type='text/css' href='@Url.Content("~/Content/style/bootstrap-responsive.css")' />
<div class="container">
    <div class="card card-container">
        <div class="bs-docs-example">
            <p style="text-transform:uppercase">@Gestion.Proyecto.Resource.Title.TituloLogin</p>
        </div>
        <div class="prettyprint" style="padding: 25px;">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
            {
                <input name="UserName" type="text" id="inputUser" class="form-control" placeholder="@Gestion.Proyecto.Resource.DisplayLabel.PlaceHolderUser" autofocus>
                <font color="red">@Html.ValidationMessageFor(model => model.UserName, string.Empty, new { Style = "display: block" })</font>

                <input name="Password" type="password" id="inputPassword" class="form-control" placeholder="@Gestion.Proyecto.Resource.DisplayLabel.PlaceHolderPass">
                <font color="red">@Html.ValidationMessageFor(model => model.Password, string.Empty, new { Style = "display: block" })</font>

                <button id="btnAcceder" type="submit" class="btn btn-info">@Gestion.Proyecto.Resource.DisplayLabel.BtnLogin</button>
                @Html.AntiForgeryToken()
                <font color="red">@Html.ValidationSummary(true)</font>
            }
        </div>
    </div>
</div>